.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: rgb(51, 57, 20);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.3);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: rgb(29, 126, 126);
}
.dropdown a:hover{
    background-color: rgb(253, 198, 117);
}