*{
    box-sizing: border-box;
}
body{
    text-align: center;
    margin: 0px;
}
header{
    background-color: grey;
    height: 100%;
    padding: 10px;
}
.navbar{
    background-color: blanchedalmond;
    height: 100px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
aside img{
    width: 200px;
}
section img{
    width: 200px;
}
article img{
    width: 200px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
figure{
    border: 2px solid black;
}
h2{
    font-size: 25px;
}

footer{
    display: block;
    clear: both;
    background-color: rgb(125, 125, 125);
    text-align: center;
    padding: 5px;
    position: relative;
    bottom: 0px;
    width: 100%;

}

@media (max-width:1024px) {
    body{
        font-size: 14px;
    }
    aside, section, article{
        width: 100%;
    }
    
}