.gallery{
    display: inline-block;
    border: 1px solid grey;
    border-radius: 7px;
    margin: 5px;
}
.description{
    text-align: center;
    font-weight: bold;
}
.gallery:hover{
    border-color: red;
}